TZ=Europe/Paris

PG_DB=sentinel
PG_USER=sentinel
PG_PASSWORD=sentinel
PG_PORT=5432

REDIS_PORT=6379

REDIS_STREAM_KEY=stream:suricata
REDIS_STREAM_MAXLEN=100000
REDIS_GROUP_NAME=suricata-workers
REDIS_CONSUMER_NAME=suricata-worker-1

REDIS_READ_COUNT=100
REDIS_BLOCK_MS=5000

SURICATA_INTERFACE=eth0
INGEST_POLL_INTERVAL=0.5

PARTITION_LOOKAHEAD_MONTHS=2
PARTITION_CHECK_INTERVAL_SECONDS=3600

SYSLOG_BIND_HOST=0.0.0.0
SYSLOG_UDP_PORT=5514
SYSLOG_TCP_PORT=5514
SYSLOG_STREAM_KEY=stream:syslog
SYSLOG_GROUP_NAME=syslog-workers
SYSLOG_CONSUMER_NAME=syslog-worker-1
SYSLOG_DEFAULT_HOSTNAME=unknown
