# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Logs
*.log
logs/
services/suricata/logs/

# Runtime data
services/postgres/data/
services/redis/data/
data/
dump.rdb

# IDE / OS
.vscode/
.idea/
.DS_Store
